.page {
  width: 600px;
  text-align: center;
}

.title {
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.description {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
